.project-list {
  display: grid;
  margin: 2.5em;
  gap: 2em;
  overflow: hidden;
  height: calc(100vh - 5em);
  grid-template-rows: auto 1fr;
  min-height: 0;
}

.project-list > h2 {
  font-weight: bold;
  font-size: 2rem;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 40px;
  min-height: 0;
}

.project-list-container.is-loading {
  display: grid;
  height: 100vh;
  text-align: center;
}

@media (max-width: 1130px) {
  .project-list {
    margin: 1.5rem;
    height: calc(100vh - 4rem);
  }

  .project-list-container {
    padding-bottom: 3rem;
    -webkit-overflow-scrolling: touch;
  }
}
