.side-panel {
  display: grid;
  grid-area: sidePanel;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    'informations'
    '.'
    'menu'
    '.'
    'footer';
  background-color: #293857;
  height: 100vh;
  justify-content: center;
  padding: 15% 5%;
}

.informations {
  grid-area: 'informations';
  margin: auto;
  width: 100%;
}

.informations > h1 {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 2em;
}

.informations > h2 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1em;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  color: #060606;
}

.informations > h2 > sup {
  margin-top: 8px;
  font-size: 0.8rem;
  font-weight: normal;
}

.informations > h2 > sup > span {
  font-weight: bold;
}

.informations span {
  font-weight: lighter;
  font-size: 0.8rem;
}

.informations .titles {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1130px) {
  .side-panel {
    position: absolute;
    inset: 0 auto auto 0;
    width: 300px;
    transform: translateX(-200%);
    z-index: 10;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 5% 20px;

    transition: transform 0.3s ease;
  }

  .side-panel.opened {
    transform: translateX(0%);
  }

  .informations > h1 {
    font-weight: bolder;
    line-height: 2em;
  }

  .informations > h2 {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .informations > h2 > sup {
    margin-left: 2px;
    margin-top: 10px;
  }
}
