.body {
  grid-area: body;
  background-color: #060606;
  color: white;
  overflow: hidden;
}

@media (max-width: 1130px) {
  .body .icon.hamburger-menu {
    margin: 40px 0 0 40px;
  }
}

.body-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;
}
