.resume {
  display: grid;
  margin: 2.5em;
  overflow: hidden;
  row-gap: 2em;
  height: calc(100vh - 5em);
  grid-template-rows: auto 1fr;
  min-height: 0;
}

.resume > h2 {
  font-weight: bold;
  font-size: 2rem;
}

.resume h6 {
  font-weight: bold;
  font-size: 1.1rem;
  color: #e1ca99;
}

.resume span,
.resume strong {
  color: #e1ca99;
}

.resume-container {
  display: grid;
  min-height: 0;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.resume-container.is-loading {
  display: grid;
  height: 100vh;
  text-align: center;
}

.resume-header h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  color: #e1ca99;
}

.resume h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.resume .resume-title {
  display: inline-flex;
  justify-content: space-between;
}

.resume .icon.resume-download {
  align-self: center;
  cursor: pointer;
}

@media (max-width: 1130px) {
  .resume {
    margin: 1.5em;
    height: calc(100vh - 4rem);
  }

  .resume-container {
    padding-bottom: 3rem;
    -webkit-overflow-scrolling: touch;
  }
}
