@import 'tailwindcss';

body {
  background: #060606;
  color: #c2d4dc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Menlo;
  font-weight: bold;
}

p,
div,
span,
sup {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

p,
div {
  font-size: 1rem;
  color: #c2d4dc;
}

span {
  color: #e1ca99;
}

h1 {
  font-size: 2.2rem;
  color: #e1ca99;
}

h2 {
  font-size: 2rem;
  color: #c2d4dc;
}

h3 {
  font-size: 1.8rem;
  color: #c2d4dc;
}

h4 {
  font-size: 1.6rem;
  color: #c2d4dc;
}

h5 {
  font-size: 1.4rem;
  color: #e1ca99;
}

h6 {
  font-size: 1.2rem;
  color: #e1ca99;
}

@media (max-width: 1130px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }
}
