.menu {
  display: grid;
  grid-area: menu;
  align-self: center;
  row-gap: 20px;
}

.menu > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #c2d4dc;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.menu > h2 span {
  color: inherit;
}

.menu > h2:hover,
.menu > .selected {
  color: #060606;
}

.menu .left-bracket.selected,
.menu .right-bracket.selected,
.menu .sep.selected,
.menu .functionStart,
.menu .functionEnd {
  color: #e1ca99;
}

.menu .left-bracket {
  margin-right: 4px;
}

.menu .right-bracket {
  margin-left: 4px;
}

.menu .sep {
  margin: 0 14px;
}

@media (max-width: 1130px) {
  .menu > h2 {
    font-size: 1.2rem;
  }

  .menu .sep {
    margin: 0 7px;
  }
}
